<div class="card card-outline card-primary">
    <div class="card-header text-center">
        <a [routerLink]="['/']" class="h1">瑞禾系統平台</a>
    </div>
    <div class="card-body">
        <p class="login-box-msg">請輸入帳號密碼</p>

        <form [formGroup]="loginForm" (ngSubmit)="loginByAuth()">
            <div class="input-group mb-3">
                <input formControlName="username" type="text" class="form-control" placeholder="帳號" />
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-user"></span>
                    </div>
                </div>
            </div>
            <div class="input-group mb-3">
                <input formControlName="password" type="password" class="form-control" placeholder="密碼" />
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <!--<div class="col-7">
                    <div class="icheck-primary">
                        <input type="checkbox" id="remember" />
                        <label for="remember"> Remember Me </label>
                    </div>
                </div>-->
                <!-- /.col -->
                <div class="col-12">
                    <pf-button [type]="'submit'" [block]="true" [loading]="isAuthLoading"
                        [disabled]="isFacebookLoading || isGoogleLoading">
                        登入
                    </pf-button>
                </div>
                <!-- /.col -->
            </div>
        </form>




    </div>
    <!-- /.login-card-body -->
</div>